{% extends 'base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">pk</th>
        <th scope="col">아이디</th>
        <th scope="col">이메일</th>
        <th scope="col">가입날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for user_ in users %}
        <tr>
          <th scope="row">{{ user_.pk }}</th>
          <td>{{ user_.username }}</td>
          <td>{{ user_.email }}</td>
          <td>{{ user_.date_joined }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
