.search-mode {
  position: relative;
  width: 400px;
  height: 30px;
  margin: 10px auto;
}

input {
  border: 1px solid #F1F1F1;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  
}

.icon {
  
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
  
  
}

.search {
  color: #808080;
}

.plus-option i {
  display: inline-block;
  margin-left: 5px;
}


.plus-option i:nth-child(2){
  color: #4F86EC; 
}