@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
}




/*main*/
main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.calendar_month {
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 50px;
}
.calendar_week {
    display: grid;
    grid-template-columns: repeat(7,minmax(100px, 230px));
    grid-template-rows: repeat(1, minmax(100px, 130px));
}
.calendar_day {
    border: 1px solid;
    padding: 10px;
    font-size: 20px;
}
/* 박스 */
.github_box {
    display: flex;
    background-color: rgb(17, 171, 20);
    color: aliceblue;
}
.python_box {
    display: flex;
    background-color: blue;
    color: aliceblue;
}
.algorithms_box {
    display: flex;
    background-color: rgb(218, 139, 42);
    color: aliceblue;
}
.SQL_box {
    display: flex;
    background-color: rgb(25, 192, 142);
    color: aliceblue;
}
