{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>상세 회원 정보</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">user</th>
        <th scope="col">email</th>
        <th scope="col">last_login</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ user.username}}</th>
        <td>{{ user.email}}</td>
        <td>{{ user.last_login}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'accounts:index' %}' ">돌아가기</button>
{% endblock content %}