{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div>
    <a href="{% url 'accounts:profile_update' %}">프로필 수정</a>
  </div>
  {% if profile.image %}
    <img src="{{ profile.image.url }}" alt="" style="width: 80px; height: 80px; border-radius: 500px">
  {% else %}
    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="" style="width: 500px; height: 500px;">
  {% endif %}
  <div class="d-flex justify-content-between">
    <div>
      <h1>내가 쓴 글</h1>
      {% for article in articles %}
        <div>
          <a href="{% url 'articles:detail' article.pk %}">
            <p>{{ article.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-end flex-column">
      <h1>내가 쓴 댓글</h1>
      {% for comment in comments %}
        <p class="d-flex justify-content-end">{{ comment.content }}
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
