{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for article in articles %}
      <div class="col">
        <a href="{% url 'articles:detail' article.pk %}" style="text-decoration: none; color:black">
          <div class="">
            {% if article.thumbnail %}
              <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="..." style="">
            {% else %}
              <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
            {% endif %}
            <h5 class="card-title">{{ article.title }}</h5>
            {% comment %} <img src="{{ profile.image.url }}" alt="" style="width: 80px; height: 80px; border-radius: 500px"> {% endcomment %}
            <p>{{ article.user.username }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}