{% load django_bootstrap5 %}
<!DOCTYPE html>
{% load static %}
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">YouTube<i class="bi bi-pencil-square"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <h1>adfasdfasdfsdf</h1>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">로그아웃</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:update' %}">회원 정보 수정</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:change_password' %}">비밀 번호 수정</a>
              </li>
              {% if request.user == article.user %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles:update' article.pk %}">글 수정하기</a>
                </li>
                <form action="{% url 'articles:delete' article.pk %}" method="post" class="nav-item">
                  {% csrf_token %}
                  <input type="submit" class="nav-link" href="" value="삭제하기"></input>
                </form>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles:create' %}">새 글쓰기</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile' %}">profile</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="mb-5"></div>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    <!-- JavaScript Bundle with Popper -->
    {% bootstrap_javascript %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewbox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
  </body>

</html>
